// pages

@import 'styles/pages/home.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// body {
//   background: $background;
// }

html {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

// .colored {
//   color: $secondary;
//   font-weight: 600;
//   border-bottom: 1.5px solid $secondary;
// }

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}